@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://cdn.crash.net/styles/article/s3/field/image/FBEz481WUAIyOCT.jpeg?itok=iRd0Z-oZ') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    z-index: -1;
    filter: blur(px);
}

.loading-text {
    font-size: 50px;
    color: white;
}